let mapleader = ' '
set ignorecase smartcase
set hlsearch
set showmode

" Edit settings and reload
noremap <leader>; :edit ~/.ideavimrc<CR>
noremap <leader>: :source ~/.ideavimrc<CR>

" Easy clipboard
noremap <leader>y "+y
noremap <leader>Y "+Y
noremap <leader>p "+p
noremap <leader>P "+P

" IDEA mappings
" *************

noremap <leader>w :action EditorToggleShowWhitespaces<CR>
noremap <leader>u :action FindUsages<CR>

" Navigate
noremap <leader>c :action GotoClass<CR>
noremap <leader>f :action GotoFile<CR>
noremap <leader>s :action GotoSymbol<CR>
noremap <leader>N :action Back<CR>
noremap <leader>n :action Forward<CR>
noremap <leader>@ :action SelectIn<CR>
noremap <leader>d :action GotoDeclaration<CR>
noremap <leader>i :action GotoImplementation<CR>
noremap <leader>t :action GotoTypeDeclaration<CR>
noremap <leader>S :action GotoSuperMethod<CR>
noremap <leader>R :action GotoRelated<CR>
noremap <leader>m :action MethodDown<CR>
noremap <leader>M :action MethodUp<CR>

" Code
" These next two don't work in visual mode so use IDEA defaults of c-/ and c-s-/ instead
"noremap <leader>/ :action CommentByLineComment<CR>
"noremap <leader>? :action CommentByBlockComment<CR>

" Refactor
noremap <leader>rc :action Refactorings.QuickListPopupAction<CR>
noremap <leader>rm :action Move<CR>
noremap <leader>rr :action RenameElement<CR>

" Tools
noremap <leader>z :action com.jetbrains.rider.interactive.csi.StartCSharpInteractive<CR>
noremap <leader>Z :action com.jetbrains.rider.interactive.csi.SendToCSharpInteractive<CR>

" Window
noremap <leader>pco :action CloseAllEditorsButActive<CR>
noremap <leader>pcu :action CloseAllUnmodifiedEditors<CR>
noremap <leader>pj :action MoveTabDown<CR>
noremap <leader>pl :action MoveTabRight<CR>
noremap <leader>pm :action MoveEditorToOppositeTabGroup<CR>
